#### 1. Write a Python script to display the
#### a. Current date and time
#### b. Current year
#### c. Month of year
#### d. Week number of the year
#### e. Weekday of the week
#### f. Day of year
#### g. Day of the month
#### h. Day of week

In [1]:
import pandas as pd

In [2]:
from datetime import datetime as dt

In [3]:
print(dir(dt))

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'astimezone', 'combine', 'ctime', 'date', 'day', 'dst', 'fold', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'hour', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'microsecond', 'min', 'minute', 'month', 'now', 'replace', 'resolution', 'second', 'strftime', 'strptime', 'time', 'timestamp', 'timetuple', 'timetz', 'today', 'toordinal', 'tzinfo', 'tzname', 'utcfromtimestamp', 'utcnow', 'utcoffset', 'utctimetuple', 'weekday', 'year']

In [4]:
print(dir(pd))

['Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NaT', 'Panel', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseArray', 'SparseDataFrame', 'SparseDtype', 'SparseSeries', 'TimeGrouper', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_hashtable', '_lib', '_libs', '_np_version_under1p13', '_np_version_under1p14', '_np_version_under1p15', '_np_version_under1p16', '_np_version_under1p17', '_tslib', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'datetime', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'np', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_msgpack', 'read_parquet', 'read_pickle', 'read_sas', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_msgpack', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [5]:
#a. Current date and time
pd.Timestamp.now()

Timestamp('2020-03-16 16:19:59.438011')

In [7]:
import datetime
datetime.datetime.today()

datetime.datetime(2019, 9, 17, 12, 58, 35, 460793)

In [8]:
pd.to_datetime('today')

Timestamp('2019-09-17 12:58:35.590064')

In [9]:
#b. Current year
pd.Timestamp.now().year

2019

In [10]:
#c. Month of year
pd.Timestamp.now().month

9

In [22]:
#d. Week number of the year
pd.Timestamp.today().week

38

In [20]:
#e. Weekday of the week
pd.Timestamp.now().weekday()

1

In [19]:
#f. Day of year
pd.Timestamp.today().dayofyear

260

In [17]:
#g. Day of the month
pd.Timestamp.today().day

'09'

In [18]:
#h. Day of week
pd.Timestamp.today().dayofweek

1

#### 2. Write a Python program to convert a string to datetime.
Sample String : Jan 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

In [97]:
pd.DateOffset?

In [81]:
pd.Timestamp.strptime('Jan 1 2014 2:43PM','%b %d %Y %I:%M%p') + pd.DateOffset(months=6)

Timestamp('2014-07-01 14:43:00')

#### 3. Write a Python program to subtract five days from current date.

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

In [104]:
currentdate=pd.Timestamp.today() - pd.DateOffset(days=5)

In [106]:
currentdate.strftime('%Y-%m-%d')

'2019-07-16'

#### 4. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

In [110]:
pd.Timestamp?

In [18]:
pd.Timestamp(1284105682, unit='s') + pd.DateOffset(hours= 5, minutes = 30)

Timestamp('2010-09-10 13:31:22')

In [15]:
pd.Timestamp.fromtimestamp(1284105682)

Timestamp('2010-09-10 13:31:22')

#### 5. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

In [20]:
dob = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

In [21]:
dob

0    07Sep59
1    01Jan55
2    15Dec47
3    11Jul42
dtype: object

In [34]:
pd.to_numeric(pd.to_datetime(dob))

0    2830118400000000000
1    2682374400000000000
2    2459980800000000000
3    2288649600000000000
dtype: int64

In [36]:
pd.to_datetime(pd.to_numeric(pd.to_datetime(dob)),origin=pd.Timestamp('31-dec-1869', unit='D'))

0   1959-09-07
1   1955-01-01
2   1947-12-15
3   1942-07-11
dtype: datetime64[ns]

#### 6. Write a Python program to get days between two dates.

In [43]:
today1= pd.Timestamp.today()

In [44]:
today1

Timestamp('2019-07-22 12:28:52.628427')

In [47]:
today1-pd.Timestamp.strptime('23-July-2018','%d-%B-%Y')

Timedelta('364 days 12:28:52.628427')

#### 7. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 89"

In [173]:
pd.Timestamp('15Dec1989').strftime('%A, %d %b %y')

'Friday, 15 Dec 89'

In [171]:
pd.to_datetime("15Dec1989").strftime('%A, %d %b %y')

'Friday, 15 Dec 89'